WAP to print the table of 7, 9.

In [1]:
for i in range(1,11):
    print(7," * ", i , " = ", i * 7)

7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
7  *  10  =  70

In [2]:
for i in range(1,11):
    print(9," * ", i , " = ", i * 9)

9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
9  *  10  =  90

 WAP to print the table of n and n is given by user.

In [3]:
n = int(input("Enter No: "))
for i in range(1,11):
    print(n, " * ", n , " = ", i * n)

Enter No:  8

8  *  8  =  8
8  *  8  =  16
8  *  8  =  24
8  *  8  =  32
8  *  8  =  40
8  *  8  =  48
8  *  8  =  56
8  *  8  =  64
8  *  8  =  72
8  *  8  =  80

WAP to add all the numbers from 1 to n and n is given by user.

In [ ]:
n = int(input("Enter No: "))
for i in range(1,11):
    n=n+i
print ("sum is = ", n)