Q1Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
i. WAP to add 200 and 300 to L.
ii. WAP to remove 10 and 30 from L.
iii. WAP to sort L in ascending order.
iv. WAP to sort L in descending order.

In [ ]:
numbers=[10,20,30,40,50,60,70,80]
numbers.append(200)
numbers.append(300)
print(numbers)

numbers.remove(10)
numbers.remove(30)
print(numbers)

numbers.sort()
print(numbers)

numbers.sort(reverse=True)
print(numbers)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

Q2: Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
i. Identify the highest score and its index in the tuple.
ii. Find the lowest score and count how many times it appears.
iii. Reverse the tuple and return it as a list.
iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it’s not present.

In [ ]:
Scores=(45,89.5,76,45.4,89,92,58,45)
highest_score=max(Scores)
highest_index=Scores.index(highest_score)
print(f"highest score is {highest_score} at index {highest_index}")

lowest_score=min(Scores)
lowest_count=Scores.count(lowest_score)
print(f"lowest score is {lowest_score} and it appears {lowest_count} times")

reverse_scores=list(Scores[::-1])
print(reverse_scores)
print(type(reverse_scores))

target_score=float(input("enter the target score: "))
if target_score in Scores:
    index=Scores.index(target_score)
    print(f"target score {target_score} is present at index {index}")
else:
    print(f"target score {target_score} is not present in the tuple")

highest score is 92 at index 5
lowest score is 45 and it appears 2 times
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
<class 'list'>
enter the target score: 89
target score 89.0 is present at index 4

Q3:WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:
i. All odd numbers
ii. All even numbers
iii. All prime numbers

In [ ]:
import random
random_numbers=random.sample(range(100,900),100)
print(f"random list {random_numbers}")

#odd numbers
odd_numbers=[num for num in random_numbers if num%2!=0]
count_odd=len(odd_numbers)
print(f"odd numbers {odd_numbers}")
print(f"count of odd numbers {count_odd}")

#even numbers
even_numbers=[num for num in random_numbers if num%2==0]
count_even=len(even_numbers)
print(f"even numbers {even_numbers}")
print(f"count of even numbers {count_even}")

#prime numbers
prime_numbers=[num for num in random_numbers if num>1 and all(num%i!=0 for i in range(2,int(num**0.5 + 1)))]
count_prime=len(prime_numbers)
print(f"prime numbers {prime_numbers}")
print(f"count of prime numbers {count_prime}")

random list [349, 702, 602, 281, 572, 409, 628, 392, 687, 101, 457, 412, 231, 182, 258, 142, 850, 204, 216, 123, 293, 781, 275, 770, 303, 878, 816, 853, 843, 555, 636, 154, 320, 854, 607, 493, 138, 452, 336, 462, 601, 149, 819, 179, 899, 776, 344, 436, 807, 794, 479, 495, 657, 451, 566, 421, 810, 300, 768, 637, 697, 818, 324, 707, 874, 595, 855, 388, 331, 370, 530, 298, 128, 866, 863, 682, 322, 806, 542, 445, 266, 820, 115, 474, 239, 731, 514, 485, 624, 473, 769, 253, 193, 393, 517, 887, 752, 159, 205, 726]
odd numbers [349, 281, 409, 687, 101, 457, 231, 123, 293, 781, 275, 303, 853, 843, 555, 607, 493, 601, 149, 819, 179, 899, 807, 479, 495, 657, 451, 421, 637, 697, 707, 595, 855, 331, 863, 445, 115, 239, 731, 485, 473, 769, 253, 193, 393, 517, 887, 159, 205]
count of odd numbers 49
even numbers [702, 602, 572, 628, 392, 412, 182, 258, 142, 850, 204, 216, 770, 878, 816, 636, 154, 320, 854, 138, 452, 336, 462, 776, 344, 436, 794, 566, 810, 300, 768, 818, 324, 874, 388, 370, 530, 298, 128, 866, 682, 322, 806, 542, 266, 820, 474, 514, 624, 752, 726]
count of even numbers 51
prime numbers [349, 281, 409, 101, 457, 293, 853, 607, 601, 149, 179, 479, 421, 331, 863, 239, 769, 193, 887]
count of prime numbers 19

Q4: Consider the following two sets, A and B, represenƟng scores of two teams in mulƟple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operaƟons using set funcƟons:
i. Find the unique scores achieved by both teams (union of sets).
ii. IdenƟfy the scores that are common to both teams (intersecƟon of sets).
iii. Find the scores that are exclusive to each team (symmetric difference).
iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.
v. Remove a specific score X (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [ ]:
A= set([34,56,78,90])
B= set([78,45,90,23])

union_set= A.union(B)
print(f"unique scores achieved by both teams {union_set}")

intersection_set=A.intersection(B)
print(f"Scores common to both teams {intersection_set}")

symmetric_difference_set=A.symmetric_difference(B)
print(f"Scores exclusive to each team {symmetric_difference_set}")

is_subset=A.issubset(B)
is_superset=B.issuperset(A)
print(f"A is a subset of B {is_subset}")
print(f"B is a superset of A {is_superset}")

X=int(input("enter score to remove from set A: "))
if X in A:
    A.remove(X)
    print(f"removed {X} from set A")
    print(f"new set A after removing {X} : {A}")
else:
    print(f"{X} is not present in set A")

unique scores achieved by both teams {34, 45, 78, 23, 56, 90}
Scores common to both teams {90, 78}
Scores exclusive to each team {34, 45, 23, 56}
A is a subset of B False
B is a superset of A False
enter score to remove from set A: 56
removed 56 from set A
new set A after removing 56 : {34, 90, 78}

Q5: Write a program to rename a key city to a locaƟon in the following dicƟonary.

In [ ]:
sample_dict= {
    "name":"John",
    "age":25,
    "salary":8000,
    "city":"New York"
}

sample_dict["location"]=sample_dict.pop("city")
print(sample_dict)

{'name': 'John', 'age': 25, 'salary': 8000, 'location': 'New York'}